body {
  font-family: Arial, sans-serif;
}

.main {
  text-align: center;
}

h1, p {
  color: darkgray;
}

input, ::placeholder {
  background-color: teal;
  color: white;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 4px;
  border-bottom: 1px black solid;
}

button {
  background-color: gray;
  color: white;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin: 3px;
}
